{% extends 'base.html' %}
{% block content %}

<div class="container">
    <br>
    <br>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#">Navbar w/ text</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
    </ul>
    <span class="navbar-text">
      Navbar text with an inline element
    </span>
  </div>
</nav>
<br>
<br>
    <div class="row">
        {% for add in address %}
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top"
                     src="https://upload.wikimedia.org/wikipedia/commons/f/f9/Phoenicopterus_ruber_in_S%C3%A3o_Paulo_Zoo.jpg"
                     alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{add.name}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Phone:</strong><br>{{add.phone}}</li>
                    <li class="list-group-item"><strong>Email:</strong><br>{{add.email}}</li>
                    <li class="list-group-item"><strong>Website:</strong><br>{{add.website}}</li>
                    <li class="list-group-item"><strong>Address:</strong><br>{{add.address}}</li>
                </ul>
            </div>
            <br>
            <br>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}