{% extends 'base.html' %}
{% block content %}
<div class="container">
    <br>
    <br>
    <div class="row">
        {% for add in address %}
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top"
                     src="https://upload.wikimedia.org/wikipedia/commons/f/f9/Phoenicopterus_ruber_in_S%C3%A3o_Paulo_Zoo.jpg"
                     alt="Card image cap">
                <div class="card-body">
                    <a href="details/{{add.pk}}"><h5 class="card-title">{{add.name}}</h5></a>
                </div>
            </div>
            <br>
            <br>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}